.main-con{padding-top:2.5rem;}
.film-list{padding:0 1rem;}
.home-more{font-size:0.6rem;height:1.6rem;line-height:1.6rem;
  display: block;margin:1rem auto;width:40%;color: #616161;border-radius:14px;border: 1px solid #aaa;}
